/* ================= LOADER ================= */
#loader{
  position:fixed;
  width:100%;
  height:100%;
  background:#000;
  display:flex;
  justify-content:center;
  align-items:center;
  z-index:9999;
}

.loader-text{
  color:#00f5ff;
  font-family:'Orbitron',sans-serif;
  font-size:2rem;
  animation:blink 1s infinite;
}

/* ================= SMOOTH SCROLL ================= */
html{
  scroll-behavior:smooth;
}

/* ================= THEME TOGGLE ================= */
#themeToggle{
  background:none;
  border:none;
  color:#00f5ff;
  font-size:18px;
  cursor:pointer;
  padding:5px 10px;
}

body.light-mode{
  background:#f5f5f5;
  color:#111;
}

body.light-mode nav{
  background:white;
}

body.light-mode .card{
  background:white;
  color:#111;
  box-shadow:0 0 20px rgba(0,0,0,0.1);
}

body.light-mode input,
body.light-mode textarea{
  background:#eee;
  color:#111;
  border:1px solid #333;
}

body.light-mode button{
  background:#111;
  color:white;
}
